body{
    margin: 0;
    background-color: rgb(0, 0, 0);

}


h1{
    color:  rgb(255, 255, 255);    
}

p{
    color:rgb(228, 228, 228);
}

.image-section{
    height: 12em;
    overflow: hidden;
    border-radius: 12px 12px 0px 0px; 
    /* keep value same/close as grid-item  */
}

.img1{
    background-image: url('imgs/staticimg.png');
    background-size: cover;
    background-position: center;
}

.img1:hover{
    background-image: url('imgs/giphy.webp#t=0s');
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content:space-between;
    row-gap: 100px;
    border: 5px;
    border-style: none;
    border-color: aqua;
    margin: 100px 9em 0px 9em;
    padding-bottom: 100px;
}

@media (max-width: 1193px) {
    .grid-container { grid-template-columns: repeat(2, auto); }
  }

.grid-item{
    /* background-color: rgb(25, 35, 94); */
    background-image: linear-gradient(45deg, rgb(214, 18, 198), rgb(0, 0, 255));
    border-style: solid;
    border-width: 3px;
    border-color: rgb(5, 243, 247);
    box-shadow: 2px 2px 10px rgb(9, 154, 168);
    border-radius: 15px;
    width: 270px;
    height: 450px;

    /* transition: scale 0.3s, box-shadow 0.3s; */
}

.grid2{
    border-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px rgb(255, 255, 255);

}


.grid-item-content{
    text-align: left;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

